.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 5rem 0 5rem 0;
    color: var(--backgroundColor)
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.form-style {
    border: var(--backgroundColor) solid 1px;
    border-radius: 0;
    background-color: var(--highlightColor);
    padding: 1rem;
    min-width: 20rem;
}

.form-style:focus {
    border: var(--backgroundColor) solid 2px;
    border-radius: 0;
    outline: 0;
}

.form-style::placeholder {color: var(--textColor2)}

.form-submit:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    cursor: pointer;
}

.form-submit {margin-bottom: 5rem;}