* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  --textColor: hsl(0, 0%, 86%);
  --textColor2: hsl(0, 0%, 46%);
  --highlightColor: hsl(0, 0%, 100%);
  --backgroundColor: hsl(0, 0%, 16%);

  min-height: 100%;
  display: flex;
  flex-direction: column;
}






/* HEADER */
.nav {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  padding: 1rem 1rem;
  z-index: 9;
  position: sticky;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.nav-link,
.foot-link {list-style: none;}

.nav-text,
.foot-text {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-text:hover,
.foot-text:hover {color: var(--highlightColor)}





/* FOOTER */
footer {
  margin-top: auto;
  background-color: var(--backgroundColor);
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  padding: 1rem 1rem;
}

.foot-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  z-index: 9;
}






/* RESPONSIVE */
/* small */
@media (min-width: 1px) {
  .nav-text {
    font-size: 1rem;
  }

  .nav,
  .foot {
    padding: 1rem 4rem;
  }

  .foot-container {
    gap: 1rem;
  }

  .nav-menu {
    gap: 1rem;
  }

  .foot-text {
    font-size: 1rem;
  }

  .home {
    font-size: 1.5rem;
  }
}

/* medium */
@media (min-width: 500px) {
  .nav-text {
    font-size: 1.2rem;
  }

  .nav,
  .foot {
    padding: 1.2rem 3rem;
  }

  .foot-container {
    gap: 1.2rem;
  }

  .nav-menu {
    gap: 1rem;
  }

  .foot-text {
    font-size: 1rem;
  }

  .home {
    font-size: 1.7rem;
  }
}

/* large */
@media (min-width: 700px) {
  .nav-text {
    font-size: 1.2rem;
  }

  .nav,
  .foot {
    padding: 1.6rem 6.4rem;
  }

  .foot-container {
    gap: 1.6rem;
  }

  .nav-menu {
    gap: 4.8rem;
  }

  .foot-text {
    font-size: 1.2rem;
  }

  .home {
    font-size: 2.1rem;
  }


}

/* xlarge */
@media (min-width: 1000px) {
  .nav-text {
    font-size: 1.6rem;
  }

  .nav,
  .foot {
    padding: 2rem 8rem;
  }

  .foot-container {
    gap: 2rem;
  }

  .nav-menu {
    gap: 6rem;
  }

  .foot-text {
    font-size: 1.2rem;
  }

  .home {
    font-size: 2.5rem;
  }
}

/* xxlarge */
@media (min-width: 2300px) {
  .nav-text {
    font-size: 2rem;
  }

  .nav,
  .foot {
    padding: 2.4rem 9.6rem;
  }

  .foot-container {
    gap: 2.4rem;
  }

  .nav-menu {
    gap: 7.2rem;
  }

  .foot-text {
    font-size: 1.8rem;
  }

  .home {
    font-size: 2.9rem;
  }
}











/* HAMBURGER */

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 500px) {
  .nav-menu {
    position: fixed;
    inset: 5% 0 40% 50%;
    flex-direction: column;
    margin: 0;
    align-items: center;

    max-height: 300px;
    background: var(--backgroundColor);
    gap: 1rem;

    transform: translateY(-150%);
    transition: transform 500ms ease-out;
    z-index: 0;
  }


  .nav-menu[data-visible="true"] {
    transform: translateY(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 999;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    top: 1.8rem;
    right: 2rem;
    background: url('../icons/up-arrow.svg');
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle[aria-expanded="false"] {
    background: url('../icons/down-arrow.svg');
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle:hover {
    background: url('../icons/up-arrow-highlight.svg');
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle:hover[aria-expanded="false"] {
    background: url('../icons/down-arrow-highlight.svg');
    background-repeat: no-repeat;
  }

  .nav {
    padding: 2rem 2rem;
  }
}