.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-container {
    background: url(../images/IMG_2769.JPG);
    background-size: cover;
    min-height: 50vh;
    width: 100%;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    height: 50vh;
}

.hero-text {
    color: var(--backgroundColor);
}

.hero-game-link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);

    min-width: 20rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.hero-game-link:hover {
    border: var(--highlightColor) solid 2px;
    color: var(--highlightColor);
}




h2 {
    font-size: 2rem;
    color: var(--backgroundColor);
    padding: 5rem 0 5rem 0;
}

.about-container1 {
    display: flex;
    flex-direction: column;
}

.about-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: solid var(--backgroundColor) 1px;
    padding: 1rem;
}

.about-text {
    color: var(--backgroundColor);
    font-size: 1.5rem;
    padding-top: 1.5rem;
}


@media (max-width: 380px) {
    #about {
        flex-direction: column;
    }

    .about-text {
        padding-bottom:5rem;
        margin: 0;
    }
}

.profile-pic {
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--backgroundColor);
}

.seperator {
    height: 3rem;
}

/* mobile about section */
@media (min-width: 800px) {
    .about-container1 {
        flex-direction: row;
        gap: 2rem;
        padding-bottom: 3rem;
    }
}